.sizeType {
    display: grid;
    grid-template-columns: repeat(2,1fr);
    gap: 1vw;
}
.sizeHeader {
    margin-top: 50px;
    font-size: 2vw;
    font-weight: bold;
    margin-bottom: 20px;
}

.singleSFont {
    border: 1px solid #9a9a9a;
    height: 6vh;
    border-radius: 8px;
    font-size: 1.1vw;
    /* font-weight: 300; */
}

.selectedSFont {

    height: 6vh;
    border-radius: 8px;
    font-size: 1.1vw;
    color: white;
    background-color: #03BBC9;
}

@media (max-width:768px) {
    .singleSFont {
        font-size: 4vw;
    }
    .selectedSFont {
        font-size: 4vw;
    }
    .sizeHeader {
        display: none;
    }
}